/* src/App.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ecf0f1;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 75%;
}

.card:hover {
    transform: scale(1.05);
    background-color: #27ae60;
}

.ans {
    margin-right: 10px;
}

#button {
    margin-top: 20px;
    padding: 10px;
    background-color: #a2d633;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.5s ease-in-out;
}

#button:hover {
    background-color: #8abc1e;
}

.Next1 {
    margin-top: 20px;
    padding: 10px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.Next1:hover {
    background-color: #27ae60;
}

.questions_div_class {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.wrong-answer-message {
    margin-top: 20px;
    justify-content: center;
    padding: 10px;
    background-color: #d52b2b;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.5s ease-in-out;
}

#NewGame {
    margin-top: 20px;
    padding: 10px;
    background-color: #bc3535;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}